<div class="header-banner">
  <div class="banner-image text-center">
      <img class="rounded img-thumbnail" src="/media/sonja_alps.jpg" />
  </div>
  <div class="information text-center">
    <h1>Sonja Mnich</h1>
    <h2 class="h6">June 15, 1930 - December 11, 2021</h2>
  </div>
</div>
