<div class="memories-story">
  <div class="row">
    <hr />
    <div class="col-12 text-center">
      <p>Sonja Mnich was a vivacious wife, mother, grandmother, and friend. She left this world suddenly on December 11, 2021 at age 91.</p>
      <p>She was born in Leipzig, Germany on June 15, 1930 and was orphaned when her mother died shortly after childbirth. Sonja was raised by her grandmother in Austria and after surviving war-torn Europe, she chased her dreams of moving to the United States for a better life. She met her husband, Edward Mnich, while he was serving in the US Marine Corps. Together, they moved between Texas and Pennsylvania before deciding to build a home in Newcastle, California. They stayed there for about 40 years on acres of farm land. They raised 4 children: Theresa, Tanja, Marc, and Chris.</p>
      <p>Sonja moved to Roseville, California as a widow in 1997. She saw her 5 grandchildren grow up: Brian, Allie, Zac, Sophie, and Chloe. She loved spending time in her garden, and always had whimsical stories to tell. She was consistently the life of the party. Family and friends would gather to hear about her history, adventures, and travels. She loved taking and sharing photos, as well as keeping connected to family through phone calls. Most weekends were spent with neighbors and friends in her local community.</p>
      <p>A celebration of life is scheduled for 11 am on February 19, 2022 at the local Roseville church. Your attendance, memories, and stories are all welcome. Lunch will be provided.</p>
      <p>She will rest by her husband in Newcastle Cemetery at 850 Taylor Road.</p>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_europe.jpg" class="figure-img img-fluid rounded" alt="Saintt Stephen's Cathedral">
        <figcaption class="figure-caption text-end">St. Stephen's Cathedral, Vienna, Austria.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_christmas.jpg" class="figure-img img-fluid rounded" alt="Celebrating Christmas">
        <figcaption class="figure-caption text-end">Celebrating Christmas.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_marina.jpg" class="figure-img img-fluid rounded" alt="At the marina">
        <figcaption class="figure-caption text-end">Sonja enjoying the marina.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_childhood.jpg" class="figure-img img-fluid rounded" alt="Sonja as a child">
        <figcaption class="figure-caption text-end">Sonja as a child.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_chris_christmas.jpg" class="figure-img img-fluid rounded" alt="with Chris">
        <figcaption class="figure-caption text-end">Sonja and Chris during the Holidays.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_chris_queen_mary.jpg" class="figure-img img-fluid rounded" alt="With Chris at the Queen Mary">
        <figcaption class="figure-caption text-end">Sonja With Chris at the Queen Mary.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_mark.jpg" class="figure-img img-fluid rounded" alt="with Mark">
        <figcaption class="figure-caption text-end">Sonja and son, Mark.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_tanja.jpg" class="figure-img img-fluid rounded" alt="with Tanja">
        <figcaption class="figure-caption text-end">Sonja and daughter, Tanja.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_chris.jpg" class="figure-img img-fluid rounded" alt="with Chris">
        <figcaption class="figure-caption text-end">Sonja and son, Chris.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/theresa_tanja.jpg" class="figure-img img-fluid rounded" alt="Theresa and Tanja">
        <figcaption class="figure-caption text-end">Her daughters, Theresa and Tanja.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_charlie.jpg" class="figure-img img-fluid rounded" alt="with Charlie">
        <figcaption class="figure-caption text-end">Sonja and Charlie.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/allie_wedding.jpg" class="figure-img img-fluid rounded" alt="attending Allie's wedding">
        <figcaption class="figure-caption text-end">attending her grand daughter's wedding.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/three_generations.jpg" class="figure-img img-fluid rounded" alt="Sonja with daughter and grand daughter">
        <figcaption class="figure-caption text-end">Three generations.</figcaption>
      </figure>
    </div>
  </div>
</div>