<div class="memories-story">
  <div class="row">
    <div class="col-sm-6 col-lg-5">
      <figure class="figure">
        <img src="/media/sonja_christmas.jpg" class="figure-img img-fluid rounded" alt="Celebrating Christmas">
        <figcaption class="figure-caption text-end">Celebrating Christmas.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-lg-7">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt non purus ac porttitor. In sed suscipit ex, vitae ornare dui. Fusce elementum turpis nec ex ultricies, ac ultricies dui ullamcorper. Curabitur ac purus faucibus, aliquet dui et, interdum nisi. Ut sit amet euismod nulla. Nunc diam libero, molestie ut ante et, blandit vestibulum nunc. In sit amet varius metus. Nullam tincidunt facilisis lorem vel eleifend. Curabitur porttitor orci nec justo tincidunt imperdiet. Nulla hendrerit porta nisi vel tempus. Ut efficitur, est suscipit imperdiet finibus, arcu metus pellentesque justo, vel vulputate felis eros ac metus. Cras quis libero semper, laoreet lacus nec, ultrices velit.
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 order-sm-2 col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <figure class="figure">
            <img src="/media/sonja_mark.jpg" class="figure-img img-fluid rounded" alt="with Mark">
            <figcaption class="figure-caption text-end">Sonja and son, Mark.</figcaption>
          </figure>
        </div>
        <div class="col-lg-6">
          <figure class="figure">
            <img src="/media/sonja_tanja.jpg" class="figure-img img-fluid rounded" alt="with Tanja">
            <figcaption class="figure-caption text-end">Sonja and daughter, Tanja.</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12 order-lg-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt non purus ac porttitor. In sed suscipit ex, vitae ornare dui. Fusce elementum turpis nec ex ultricies, ac ultricies dui ullamcorper. Curabitur ac purus faucibus, aliquet dui et, interdum nisi. Ut sit amet euismod nulla. Nunc diam libero, molestie ut ante et, blandit vestibulum nunc. In sit amet varius metus. Nullam tincidunt facilisis lorem vel eleifend. Curabitur porttitor orci nec justo tincidunt imperdiet. Nulla hendrerit porta nisi vel tempus. Ut efficitur, est suscipit imperdiet finibus, arcu metus pellentesque justo, vel vulputate felis eros ac metus. Cras quis libero semper, laoreet lacus nec, ultrices velit.
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <figure class="figure">
        <img src="/media/sonja_charlie.jpg" class="figure-img img-fluid rounded" alt="with Charlie">
        <figcaption class="figure-caption text-end">Sonja and Charlie.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-lg-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt non purus ac porttitor. In sed suscipit ex, vitae ornare dui. Fusce elementum turpis nec ex ultricies, ac ultricies dui ullamcorper. Curabitur ac purus faucibus, aliquet dui et, interdum nisi. Ut sit amet euismod nulla. Nunc diam libero, molestie ut ante et, blandit vestibulum nunc. In sit amet varius metus. Nullam tincidunt facilisis lorem vel eleifend. Curabitur porttitor orci nec justo tincidunt imperdiet. Nulla hendrerit porta nisi vel tempus. Ut efficitur, est suscipit imperdiet finibus, arcu metus pellentesque justo, vel vulputate felis eros ac metus. Cras quis libero semper, laoreet lacus nec, ultrices velit.
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-4 order-sm-2">
      <figure class="figure">
        <img src="/media/allie_wedding.jpg" class="figure-img img-fluid rounded" alt="attending Allie's wedding">
        <figcaption class="figure-caption text-end">attending her grand daughter's wedding.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-lg-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt non purus ac porttitor. In sed suscipit ex, vitae ornare dui. Fusce elementum turpis nec ex ultricies, ac ultricies dui ullamcorper. Curabitur ac purus faucibus, aliquet dui et, interdum nisi. Ut sit amet euismod nulla. Nunc diam libero, molestie ut ante et, blandit vestibulum nunc. In sit amet varius metus. Nullam tincidunt facilisis lorem vel eleifend. Curabitur porttitor orci nec justo tincidunt imperdiet. Nulla hendrerit porta nisi vel tempus. Ut efficitur, est suscipit imperdiet finibus, arcu metus pellentesque justo, vel vulputate felis eros ac metus. Cras quis libero semper, laoreet lacus nec, ultrices velit.
    </div>
  </div>
</div>