<div class="memories-story">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_christmas.jpg" class="figure-img img-fluid rounded" alt="Celebrating Christmas">
        <figcaption class="figure-caption text-end">Celebrating Christmas.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_chris_christmas.jpg" class="figure-img img-fluid rounded" alt="with Chris">
        <figcaption class="figure-caption text-end">Sonja and Chris during the Holidays.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_marina.jpg" class="figure-img img-fluid rounded" alt="At the marina">
        <figcaption class="figure-caption text-end">Sonja enjoying the marina.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="./media/sonja_chris_queen_mary.jpg" class="figure-img img-fluid rounded" alt="With Chris at the Queen Mary">
        <figcaption class="figure-caption text-end">Sonja With Chris at the Queen Mary.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_mark.jpg" class="figure-img img-fluid rounded" alt="with Mark">
        <figcaption class="figure-caption text-end">Sonja and son, Mark.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_tanja.jpg" class="figure-img img-fluid rounded" alt="with Tanja">
        <figcaption class="figure-caption text-end">Sonja and daughter, Tanja.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_chris.jpg" class="figure-img img-fluid rounded" alt="with Chris">
        <figcaption class="figure-caption text-end">Sonja and son, Chris.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/theresa_tanja.jpg" class="figure-img img-fluid rounded" alt="Theresa and Tanja">
        <figcaption class="figure-caption text-end">Her daughters, Theresa and Tanja.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/sonja_charlie.jpg" class="figure-img img-fluid rounded" alt="with Charlie">
        <figcaption class="figure-caption text-end">Sonja and Charlie.</figcaption>
      </figure>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
        <img src="/media/allie_wedding.jpg" class="figure-img img-fluid rounded" alt="attending Allie's wedding">
        <figcaption class="figure-caption text-end">attending her grand daughter's wedding.</figcaption>
      </figure>
    </div>
  </div>
</div>