@using SonjaMemorial.Messages
@model MessageViewModel
<hr class="top-space" />
<div class="row">
  <h5 class="text-center"><a id="messages">✨ shared memories ✨</a></h5>
</div>

<div class="message-list">
  @foreach (var item in Model?.Messages.Reverse() ?? new List<MessageData>())
  {
    <div class="message-card">
      <time time='@item.Created.ToString("yyyy-MM-ddTHH:mm:ssZ")' class="message-created">@item.Created.ToString("MM/dd/yyyy hh:mm")</time>
      <div class="message-body">@item.Body</div>
    </div>
  }
</div>