@using SonjaMemorial.Messages
@model MessageViewModel

@{ 
  if (!(Model?.IsSubmitted ?? false)) {
    @using (Html.BeginForm("Index", "Home", null, FormMethod.Post))
    {
        <div class="message-form">
            <textarea type="text" id="message-body" name="Body" class="message-field" value="" maxlength="@Model.Limit"></textarea>
            <script>
                document.getElementById('message-body').onkeyup = function () {
                    document.getElementById('message-body-count').innerHTML = `${this.value.length}/${@Model.Limit}`;
                };
            </script>
            <span id="message-body-count" class="message-body-count">0/@Model.Limit</span>
            <button class="btn btn-primary message-submit">Send</button>
        </div>
    }
  } else {
    <div class="message-form">
        <textarea disabled="true" type="text" id="message-body" name="Body" class="message-field" value="" maxlength="@Model.Limit"></textarea>
        <span id="message-body-count" class="message-body-count">0/@Model.Limit</span>
        <a class="btn btn-success message-submit" href="/">✅ Sent</a>
    </div>
  }
}

<div class="message-list">
  @foreach (var item in Model?.Messages.Reverse() ?? new List<MessageData>())
  {
    <div class="message-card">
      <div class="message-created">@item.Created.ToString("MM/dd/yyyy hh:mm")</div>
      <div class="message-body">@item.Body</div>
    </div>
  }
</div>