html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.message-form {
  width:250px;
}

.message-field {
  resize: none;
  width: 100%;
  height: 5.5em;
  margin-top: 1.5em;
}

.message-body-count {
  font-size: .7em;
}

.message-submit {
  display: block;
  float: right;
}

.message-list {
  margin-top: 1em;
}

.message-list .message-card {
  margin-top: 1em;
  border-radius: .25em;
  padding: .75em;
  background-color: #ccc;
  width: fit-content;
}

.message-list .message-created {
  font-size: .7em;
}

.submit-success {
  margin-top: 2em;
}

.banner-image img {
  padding: .5em .5em 1em;
}

.memories-story {
  margin-top: 2em;
}

.memories-story .row {
  margin-top: 2em;
}